/* Bahnschrift Font Family */
@font-face {
  font-family: 'Bahnschrift';
  src: url('/fonts/bahnschrift.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Tektur Font Family */
@font-face {
  font-family: 'Tektur';
  src: url('/fonts/tektur-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
